.user-detail-header {
    min-height: 300px;
    height: 100%;
    background: #F39237;
    color: white;
    border-radius: 8px;

    display: flex;
    justify-content: end;

    img {
        height: 120px;
        width: 120px;
        object-fit: contain;
    }
}

.user {
    display: flex;
    justify-content: start;
    align-items: center;
}

.user-details {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: right;

    h2,
    p {
        margin: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

.border {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.settings-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}