.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        &:first-child {
            cursor: unset;

            &:hover {
                background: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        cursor: pointer;

        &:hover {
            background: #f5f5f5;
        }
    }

    th,
    td {
        text-align: left;
        padding: 1rem;
        border: 1px solid #eee;
    }

}

.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
    background: #1976d2;
    color: white;
}