html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace, Arial, sans-serif;
}

.mr-16 {
  margin-right: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.p-16 {
  padding: 1rem;
}

.full-width {
  width: 100%;
}

.dialog-progress-bar {
  color: #1976d2;
}

.dialog-add-user {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  input {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
}