html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace, Arial, sans-serif;
}

.mr-16 {
  margin-right: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.p-16 {
  padding: 1rem;
}

.full-width {
  width: 100%;
}